@use 'variables' as v;

html{
    font-size: 62.5%;
    box-sizing: border-box;
    // scroll-snap-type: y mandatory;
    
}
*:before,
*:after {
    box-sizing: inherit;
}
body {
    background-color: v.$negro1;
    font-family: v.$fuente;
    font-size: 1.6rem;
    margin: 0;
}
p {
    font-size: 2rem;
    color: v.$gris;
}

.container {
    width: 80%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}
a {
    text-decoration: none;
    font-size: 2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: bold;
    color: v.$negro;
}
a:hover {
   color: v.$rojo1; 
}


h1, h2, h3 {
    margin: 1.2rem 0;
}

h1 {
    font-size: 3.8rem ;
    font-weight: 400;
    
}
h2 {
    font-size: 3.4rem;
}
h3 {
    font-size: 3rem ;
}
img {
    max-width: 100%;
    // width: 100%;     esto es para usar los snippets q tienen un width y height recomendados 
    // height: auto;    y para solucionar los problemas q eso causa
    display: block;
 }

.margin {
    margin-top: 1.6rem;
}
.padding {
    padding: 1.6rem auto;  
 }
.scroll {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    scroll-behavior: smooth;
} 
.relative {
    position: relative;
}
#menu {
    position: fixed; 
    z-index: 1; 
    right: 55px; 
    top: 55px;
}
#menu .navegacion-principal {
    display: none;
}
#menu:hover .navegacion-principal {
    display: block;
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    border-radius: 5px;
    background-color: v.$gris;
    padding: 20px;
}
.navegacion-principal {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}
.navegacion-principal a {
    margin: 1rem;
}