// si tiene  guion bajo va a decir q este archivo va dentro de otro

$fuente: 'PT Serif', serif;


$negro1: rgb(10, 10, 10);
$rojo:rgb(32, 8, 8);
$rojo1: rgb(43, 97, 160);
$negro: #1e1e1e;
$gris:  rgb(189, 179, 179);


//tamaños de media queries

$phone: 480px;
$semitablet: 600px;
$tablet: 768px;
$laptop: 992px;
$pc: 1200px;

