@use '../base/variables' as v;
@use '../base/mixins' as m;

.video{
    position: relative;
    height: auto;
    width: 100%;
    
    .transp {
        position: absolute;
        background: rgb(0,0,0);
        background: radial-gradient(circle, rgba(0,0,0,0.2) 0%, rgba(0,0,0,1) 90%);
        height: 100%;
        width: 100%;
    }   
}

.video video {
    width: 100%;
}
.cover-seamark {
    position: absolute;
    z-index: 1;
    bottom: 0;
    object-fit: contain;
    @include m.tablet {
        bottom: 5%;
        right: 5%;
    }
    @include m.laptop {
        bottom: 10%;
        right: 23%;
    }
    @include m.pc {
        bottom: 13%;
        right: 26%
    }
}
