@use '../base/mixins' as m;
@use '../base/variables' as v;

.btn {
    background-color: v.$rojo ;
    border: 2px solid v.$rojo;
    padding: 1.6rem;
    display: flex;
    justify-content: center;
    border-radius: 13rem;
    width: 12rem;
    &:hover {
        background-color: v.$rojo1;
        border: 2px solid v.$gris;
    }
}
a {
    color: v.$gris;
    text-align: center;    
} 
.column {
    display: block;
    justify-content: center;
    align-items: center;
    @include m.tablet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.mes {
    text-align: center;
    color: v.$gris;
}
.img-fechas {
    display: none;
    @include m.tablet {
        display: block;
        max-width: 60rem;
        object-fit: contain;
    }
}
.img-fechas img {
    display: none;
    @include m.tablet {
        display: block;
        object-fit: cover;
    }
}
.center {
    text-align: center;
    @include m.tablet{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: start;
        gap: 3.6rem;
    }
}
.center-evenly {
    text-align: center;
    @include m.tablet{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: start;
        gap: 19rem;
    }
}
