@use '../base/mixins' as m;
@use '../base/variables' as v;

.footer {
    scroll-snap-align: center;
    scroll-snap-stop: always;
    @include m.phone {
        text-align: center;
    }
}

.copyright{
    margin: 2.4rem auto;
    font-size: 1.6rem;
    text-align: center;
     @include m.tablet {
        text-align: center;
     }
}