@use '../base/variables' as v;
@use '../base/mixins' as m;

.galeria {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    justify-content: center;
    align-items: center;
}
.img-gal {
    margin: .8rem 0;
    @include m.laptop {
        display: block;
        justify-content: center;
        max-width: 80%;
        height: auto;
        padding: 2.4rem 0;
        margin: 1.6rem auto;
    }
}

